header {
    background-color: black;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;

}
header img {
    width: 300px;
}
h1 {
    font-size: 21px;
    color: white;
}
html {
    background-color: tan;
}
body p {
    font-size: 26px;
    color: white;
}
header a {
    color: white;
    font-size: 22px;
}
a {
    font-size: 17px;
    color: white;
}
header h1 {
    color: white;
}
body article p {
    font-size: 18px;
}