html {
    font-family: helvetica, Arial, sans-serif;
}

.navbar {
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar a:hover {
    color: red;
    text-decoration: underline;
}

.toprow {
    margin-left: 8%;
}

.toprow li {
    display: inline-block;
    padding-right: 10px;
}

.bar {
    margin: 0px 10%;
}

.middleofpage {
    height: auto;
    margin: 0px 10%;
    margin-bottom: 75px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.estuff {
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.estuff h1 {
    text-transform: uppercase;
}

.grid {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    text-align: justify;
    grid-template-columns: 1fr 0 1fr 0 1fr;
    justify-content: inherit;
    padding-bottom: 5px;
}

.grid h2 {
    text-align: center;
}

.line {
    border-left: 1px solid black;
}

@media screen and (max-width: 1000px) {
    .grid {
      max-width:max-content;
      grid-template-columns: 1fr;
    }
}

.signUp {
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.signUp input {
    box-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 1000px) {
    .signUp span {
        display: block;
        padding: 2px;
        text-align: center;
    }
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding-right: 7px;
    padding-left: 7px;
}

td {
    text-align: right;
}

caption {
    font-weight: bold;
    caption-side: top;
    padding: .5em 1em;
}

tbody tr:hover {
    background-color: lightskyblue;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(184, 206, 240);
}

tbody td:nth-child(6) {
    color: red;
}

tfoot td:nth-child(2) {
    color: red;
}

@media screen and (max-width: 1000px) {
    .thetable {
      overflow: scroll;
    }
}

.aboutUs {
    display: inline-block;
}

.footer {
    position: fixed;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: start;
    padding-top: 7px;
    padding-bottom: 7px;
}

#copyright {
    color: white;
    padding: 10px;
    margin: 0px 10%;
}